
@import url('../_common/css/base.css');

@font-face {
  font-family: 'Nunito';
  src: url('../_common/fonts/Nunito-vf-wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 200 1000;

}

html {
  --flipms: 600ms;
  --shadow: #0005;
  --card-color: #0bf;
  /* --card-hover-color: #0ad; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  width: 100%;
}

#deck {

  font-family: 'Nunito';
/*  font-variation-settings: "wght" 375;*/
  font-feature-settings: 'ss01';
  font-weight: 500;

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;

  padding: 2%;
  user-select: none;
}

.card {
  flex: 90% 0 0;
  aspect-ratio: 4/3;
  margin: 2%;
  
  border-radius: 5vw;
  cursor: pointer;

  background: #fff;
  width: 50%;
  overflow: hidden;

  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  /* --zoom-speed: 10s; */
  --zoom: 1;
  --poi: 50% 50%;
}


.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  flex: 100% 1 1;
  width: 100%;
  border-radius: 2.2vw;
  overflow: hidden;
  padding: 3%;
}

.face.blank {
  background: #6ca7ee;
}


.card img {
  flex: 100% 1 1;
  overflow: hidden;
  margin: 1vw 0;
  width: 50%;
  position: relative;
  z-index: 10;
/*  opacity: 0.3;*/

  transition: scale var(--zoom-speed) ease-out;
}

.card .text {
  margin: 0;
  font-size: 10vw;
  font-weight: bold;
  translate: 0 20vw;
  /* transition: translate 500ms ease-in-out; */
}
.card .text.show {
  translate: 0 0;
  transition: translate 500ms ease-in-out;
}

.card img {
  scale: var(--zoom);
  transition: none;
  /* transform-origin: 61% 37%; */
  transform-origin: var(--poi);
}





#controls {
  position: absolute;
  top: 0;
  right: 0;
  background: #0003;
  padding: 0.5em;
  z-index: 3;
}

#card-chooser {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card-thumb {
  background: #fff;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  aspect-ratio: 1;
  height: 6em;
  overflow: hidden;
  border-radius: 0.5em;
}

.card-thumb:hover {
  outline: 0.5vw solid #000;
}

.card-thumb img {
  width: 3em;
  aspect-ratio: 1;
}

.card-thumb .text {
  margin: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
}


/*//// SVG Pattern Backgrounds */

#background {
  display: block;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 0;
  --pattern-color1: #b3e9ff;
  --pattern-color2: #ffff93;
}

#pattern-background {
  background: var(--pattern-color1);
  color: var(--pattern-color2);
}