
@import url('../_common/css/base.css');


#board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20em;
  min-width: 10em;
  padding: 2em;
  gap: 1em;
}

#cards {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2px;

}

.card {
  /* width: 33.333%; */
  aspect-ratio: 1;
  flex: 30% 1 1;
  /* transition: all 500ms linear; */
  /* background: #ddd; */
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;

  opacity: 0;
}

.card.show,
.card.focus {
  opacity: 1;
}

.card.show {
  background: #ddd;
  /* transition: none; */
}

.card.focus {
  background: #0bf;
}

.card.hide {
  background: #0bf;
  animation: flash-then-fade 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  animation-iteration-count: 3;
}

@keyframes flash-then-fade {
  0%   { opacity: 0 }
  50%  { opacity: 1 }
  100% { opacity: 0 }
}





#controls {
  background: #0003;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5em;
  gap: 0.5em;
}

button[disabled] {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}

#btn-play {
  width: 5em;
}

.running #btn-play {
  background-color: #0fb;
}

#btn-play .txt-reveal,
.running #btn-play .txt-start {
  display: none;
}
.running #btn-play .txt-reveal {
  display: block;
}